<table class="table table-striped">
  <tr>
    <th><%= Shop.human_attribute_name(:name) %></th>
    <td><%= shop.name %></td>
  </tr>
  <tr>
    <th><%= Shop.human_attribute_name(:pref) %></th>
    <td><%= shop.prefecture.name %></td>
  </tr>
  <tr>
    <th><%= Shop.human_attribute_name(:address) %></th>
    <td><%= shop.address %></td>
  </tr>
  <tr>
    <th><%= Shop.human_attribute_name(:phone) %></th>
    <td><%= shop.phone %></td>
  </tr>
  <tr>
    <th><%= Shop.human_attribute_name(:description) %></th>
    <td><%= shop.description %></td>
  </tr>
</table>

<% if shop_admin?(current_user) %>
  <div class="text-center mb-4">
    <%= link_to [:edit, @shop] do %>
      <i class="fas fa-edit"></i>編集
    <% end %>
    <%= link_to @shop, method: :delete, data: { confirm: "本当に削除しますか？" } do %>
      <i class="fa fa-trash-alt"></i>削除
    <% end %>
  </div>
<% end %>
