<% if @shop_reviews.present? %>
  <div class="score">
    <div class="star-rating">
      <div class="star-rating-front" style="width: <%= @shop.score_percentage %>%">★★★★★</div>
      <div class="star-rating-back">★★★★★</div>
    </div>
    <div>
      <%= @shop.avg_score %>（<%= @shop.reviews.count %>件のレビュー）
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= Menu.human_attribute_name(:title) %></th>
        <th><%= Menu.human_attribute_name(:score) %></th>
        <th><%= Menu.human_attribute_name(:content) %></th>
      </tr>
    </thead>
    <tbody>
      <% @shop_reviews.each do |review| %>
        <tr>
          <td><%= review.title %></td>
          <td>
            <span class="score">
              <span class="star-rating">
                <span class="star-rating-front" style="width: <%= review.score * 100 / 5 %>%">★★★★★</span>
                <span class="star-rating-back">★★★★★</span>
              </span>
            </span>
          </td>
          <td><%= review.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>レビューはまだありません</p>
<%end %>
